
$accentColor =#3eaf7c//默认主题颜色
$textColor = #2c3e50//默认字体颜色 #02717d
$borderColor = #eaecef//默认边框颜色
$codeBgColor = #282c34//默认背景颜色

//$accentColor = #3eaf7c
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34

.navbar {
  //background:#02717d;
}


